@using AlgorithmLibrary.Kmeans
@using S3Train.Core.Enum

@model IEnumerable<Centroid>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoKmeans</title>
</head>
<body>

    <div>
        @foreach (var item in Model)
        {
            <div>
                <div>--------------------------------------------------------------------------------</div>
                @foreach (var doc in item.GroupedDocument)
                {
                    if (item.GroupedDocument.Count() > 1)
                    {
                        if (doc.Content == ViewBag.da)
                        {
                            <label style="color:red">@Html.Raw(HttpUtility.HtmlDecode(doc.Content))</label>
                            <br />
                        }
                        else
                        {
                            <label>@Html.Raw(HttpUtility.HtmlDecode(doc.Content))</label>
                            <br />
                        }

                    }
                }
            </div>
        }

        <label style="color:aqua">@ViewBag.data</label>
        <input id="Button1" type="button" value="button" />
    </div>
</body>
</html>
