@model string

@{
    if (Model == GlobalConfigs.TINHTRANG_TRONGKHO)
    {
        <span class="badge badge-primary">Trong Kho</span>
    }

    if (Model == GlobalConfigs.TINHTRANG_DANGMUON)
    {
        <span class="badge badge-warning">Đang Mượn</span>
    }

    if (Model == GlobalConfigs.TINHTRANG_DAGOI)
    {
        <span class="badge badge-warning">Đã Gởi</span>
    }
}
