@model string

@{
    if (Model == "Trong Kho")
    {
        <span class="badge badge-primary">Trong Kho</span>
    }

    if (Model == "Đang Mượn")
    {
        <span class="badge badge-warning">Đang Mượn</span>
    }

    if (Model == "Đã Gởi")
    {
        <span class="badge badge-warning">Đã Gởi</span>
    }
}
