@model string

@{
        <a href="@Url.Action("CreateOrUpdate", Model)" class="btn btn-info m-2 btn">
            <i class="fas fa-plus"></i> Tạo Mới
        </a>
        <a href="@Url.Action("Index", Model, new { active = false })" class="btn btn-warning m-2 btn">
            <i class="fas fa-trash-alt"></i> Giỏ Rác
        </a>
}
