@using S3Train.Core.Constant
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc
@model S3Train.WebHeThong.Models.TuIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="card">
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ten</th>
                    <th>Ten</th>
                    <th>Ten</th>
                    <th>Ten</th>
                    <th>Ten</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Ten)</td>
                    </tr>
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model.Paged, pageIndex => Url.Action("Index", new RouteValueDictionary {
                         { "pageIndex" , pageIndex },
                         { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                     }), new PagedListRenderOptions
                             {
                         LiElementClasses = new string[] { "page-item" },
                         PageClasses = new string[] { "page-link" },
                         DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                         DisplayLinkToLastPage = PagedListDisplayMode.Always,
                         MaximumPageNumbersToDisplay = 5,
                         EllipsesElementClass = "page-link",
                     })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

