@using S3Train.WebHeThong.Models
@model IEnumerable<TuViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="card">
    <div class="card-body">
        <table class="dataTable">
            <thead>
                <tr><th>@Html.DisplayNameFor(m => m.Ten)</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>s</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>